*{
  margin:10px;
}
body {
  font-family: sans-serif;
}
h1{
  text-align:center;
  background-color: crimson;
  padding:10px;

}
.cosmetics{
  width: auto;
  height:auto;
  border:solid;
  border-radius:10px;
  padding:8px;
  background-color:burlywood;
}

